/* GENERAL CHANGES */

/* FONTS */

@font-face {
    font-family: 'conduit_itclight';
    src: url('fonts/CONDITCL-webfont.eot');
    src: url('fonts/CONDITCL-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CONDITCL-webfont.woff2') format('woff2'),
         url('fonts/CONDITCL-webfont.woff') format('woff'),
         url('fonts/CONDITCL-webfont.ttf') format('truetype'),
         url('fonts/CONDITCL-webfont.svg#conduit_itclight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'conduit_itclight_italic';
    src: url('fonts/CONITCLI_0-webfont.eot');
    src: url('fonts/CONITCLI_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CONITCLI_0-webfont.woff2') format('woff2'),
         url('fonts/CONITCLI_0-webfont.woff') format('woff'),
         url('fonts/CONITCLI_0-webfont.ttf') format('truetype'),
         url('fonts/CONITCLI_0-webfont.svg#conduit_itclight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'conduit_itcbold';
    src: url('fonts/CONDITCB_0-webfont.eot');
    src: url('fonts/CONDITCB_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CONDITCB_0-webfont.woff2') format('woff2'),
         url('fonts/CONDITCB_0-webfont.woff') format('woff'),
         url('fonts/CONDITCB_0-webfont.ttf') format('truetype'),
         url('fonts/CONDITCB_0-webfont.svg#conduit_itcbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Fin Fonts */


/* APP */

.app{
  margin:auto;
  margin-bottom: 20px;
  width: 750px;
  height: auto;
  padding: 20px;
}

header{
  position: relative;
}

header .img {
    height: 156px;
    text-align: right;
}

header .txt {
    height: 50px;
}

.txt ul {
    background-color: #d3d4d5;
    height: 30px;
    margin: 0;
    padding-left: 20px;
}

.txt  ul + ul{
    background-color:transparent;
}

header li{
  position: relative;
  display: inline-block;
  vertical-align: top;
}

header li + li {
    background-color: #0c223f;
    border-radius: 0 0 0 24px;
    height: 26px;
    padding-right: 14px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 234px;
}

header li span {
    color: #fff;
    font-family: 'conduit_itclight';
    font-size: 15px;
}

h2 {
    color: #0c223f;
    font-family: 'conduit_itclight';
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-top: 7px;
    vertical-align: middle;
}

h2 strong {
    color: #0c223f;
    font-family: "conduit_itclight";
}

.consulta > h3 {
    color: #0c223f;
    font-size: 18px;
    font-weight: 900;
    max-width: 730px;
    padding-left: 20px;
    padding-top: 0;
}

h3 {
    background: url("../img/img_icon_arrow.png") no-repeat scroll 698px 20px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-family: 'conduit_itclight';
    font-size: 20px;
    margin: 0;
    padding-top: 14px;
    width: 100%;
}

.expand{
      background: url("../img/img_icon_arrow.png");
}

h4 {
    background: url("../img/img_icon_question.png") no-repeat scroll 10px 0px rgba(0, 0, 0, 0);
    color: #0c223f;
    display: inline-block;
    font-family: 'conduit_itclight';
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    max-width: 706px;
    padding-left: 44px;
    padding-top: 4px;
    text-align: left;
    width: 100%;
}

.answer h4 {
    background: url("../img/img_icon_answer.png") no-repeat scroll 10px 10px rgba(0, 0, 0, 0);
    color: #0c223f;
    display: inline-block;
    font-family: 'conduit_itclight';
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    max-width: 706px;
    padding-left: 44px;
    padding-top: 14px;
    padding-bottom: 4px;
    text-align: left;
    width: 100%;
}

p {
    color: #0c223f;
    font-family: 'conduit_itclight';
    font-size: 19px;
    margin: 0;
    padding: 20px;
}

.perfil li span {
    color: #0c223f;
    font-family: 'conduit_itclight';
    font-size: 15px;
    padding-left: 20px;
    text-transform: uppercase;
}

.on {
    background: url("../img/img_icon_on.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
}

.off {
    background: url("../img/img_icon_off.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
}

.perfil > li {
    padding-top: 8px;
}

.perfil li + li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.perfil h3{
    color: #e24301;
    font-family: 'conduit_itclight';
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-top: 0px;
}

.consulta {
    background-color: #d3d4d5;
    border-radius: 0 24px;
    height: auto;
    padding-top: 20px;
    position: relative;
    top: -20px;
    z-index: 0;
}

.cab {
    background-color: #0c223f;
    border-radius: 0 24px;
    height: 45px;
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 10000;
}

.cab > ul {
    margin: 0;
    padding: 0;
}

.cab li {
    display: inline-block;
    list-style: outside none none;
    width: auto;
}
.cab li + li {
    position: absolute;
    right: 20px;
    top: 12px;
    width: auto;p
}

.consulta_ant {
    background-color: #d3d4d5;
    border-radius: 0 24px 24px;
    height: auto;
    padding-top: 20px;
    position: relative;
    top: -20px;
    z-index: 0;
}

input {
    background:#fff;
    border: 0 none;
    border-radius: 0 10px;
    height: 22px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 10px;
    position: absolute;
    right: 34px;
    top: 0;
    width: 160px;
}

.lupa {
    background: url("../img/img_icon_lupa.png") no-repeat scroll 6px 3px transparent;
    border:0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: absolute;
    width: 27px;
    z-index: 100000;
}

textarea {
    border: 0 none;
    border-radius: 0 24px;
    font-family: 'conduit_itclight';
    font-size: 20px;
    height: 70px;
    margin: 20px;
    padding: 14px;
    width: 680px;
}

#register_answer h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0c223f;
    font-size: 18px;
    font-weight: 900;
    max-width: 730px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 0;
}

p {
    color: #0c223f;
    font-family: 'conduit_itclight';
    font-size: 19px;
    margin: 0;
    padding: 4px 24px 30px;
    text-align: left;
}

.button{
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
}

#btnAccess {
    background-color: #e24301;
    border: 0 none;
    border-radius: 0 10px;
    color: #fff;
    height: 24px;
    text-align: center;
    width: 80px;
}

.consulta_ant {
    background-color: #d3d4d5;
    border-radius: 0 24px 24px;
    height: auto;
}

.consulta_ant .cab {
    position: relative;
    background-color: #0c223f;
    border-radius: 0 24px;
    height: 45px;
    margin-top: 14px;
    padding-left: 20px;
}


.odd_row {
    background-color: #d3d4d5;
    display: block;
    height: auto;
    padding-top: 10px;
    text-align: right;
}

.pair_row{
    background-color: #e8e8e8;
    display: block;
    height: auto;
    vertical-align: middle;
    text-align: right;
}

.date{
  font-family:"conduit_itclight_italic";
  padding-right:20px;
  color: #808285;
}

.consulta_ant a{
    color: #e24301;
    padding-left: 4px;
    text-decoration: none;
}

.question{
  position: relative;
}

.question p{
  padding-left: 44px;
}

.answer {
    background-color: #f4f4f4;
    padding-top: 10px;
}

.answer p{
  padding-left: 44px;
  color:#666666;
}

.no_show{
  display: none;
}

.close {
    bottom: 14px;
    position: absolute;
    right: 20px;
    top: 10px;
}

select {
    background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 4px 0 0 4px;
    color: #666666;
    font-family: 'conduit_itclight';
    font-size: 18px;
    height: 26px;
    margin-left: 20px;
    padding-left: 4px;
    padding-top: 4px;
    vertical-align: middle;
    width: 160px;
}

#results{
    color: #666666;
    background-color: #fff;
    border-radius: 0 24px;
    height: 400px;
    width: 750px;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 10000;
}

p{  
    font-family: 'conduit_itclight';
    font-size: 20px;
    text-align: left;
}

.loading{
  position: absolute;
  background-color:#fff;
  opacity: 0.8;
  width: 100%;
  height:100%;
}
